@use "../../styles/variables" as *;

.wishlist-page {
  padding: 40px;
  background-color: #fff;
  color: #000;
}
.wishlist-container {
  max-width: 1000px;
  margin: auto;
}
.wishlist-container h2 {
    font-size: 42px;
    margin-bottom: 35px;
    font-weight: 700;
}

.wishlist-card {
    display: flex;
    align-items: center;
    gap: 30px;
    background: #fff;
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 25px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.08);
}

.wishlist-card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}

.wishlist-info {
  flex: 1;
}

.wishlist-info h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.wishlist-info p {
  font-size: 22px;
  color: #e91e63;
  font-weight: 700;
}

.remove-btn {
  padding: 10px 20px;
  border: none;
  background: $primary;;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}

.remove-btn:hover {
  background: $primary;;
}

@media (max-width: 768px) {
  .wishlist-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .wishlist-card img {
    width: 100%;
    height: auto;
  }

  .remove-btn {
    width: 100%;
  }
}