/* KAIRA COLORS */

$primary: #D81B72;
$primary-dark: #C2185B;

$gold: #F4B400;
$gold-light: #FFD54F;

$black: #000000;
$dark: #1A1A1A;

$white: #ffffff;
$bg-light: #FFF8F2;

$border: #ececec;

$transition: all .3s ease;

$product-pink: #d81b60;
$product-gold: #f5b400;
$product-black: #111111;
$product-bg: #f8f3ef;
