@use "./variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $bg-light;
  font-family: Arial, sans-serif;
  color: $dark;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* app wrapper */

.app-layout {
  min-height: 100vh;
  transition: all 0.3s ease;
}

/* dark */

.app-layout.dark {
  background: #000000;
  color: #ffffff;
}

/* light */

.app-layout.light {
  background: #ffffff;
  color: #111111;
}
.main {
  min-height: calc(100vh - 400px);
}
h2, h3, a {
    color: #000;
}
.sidebar a:hover{
  color: #F4B400;
}