@use "./variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $bg-light;
  font-family: Arial, sans-serif;
  color: $dark;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}