@use "../../styles/variables" as *;

/* HEADER */

.header {
  background: #ffff;
  padding: 5px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #222;
}
/* DARK */

.dark .header {
  background: #000;
  border-bottom: 1px solid #222;
}

.dark .navbar {
  background: #e91e63;   // your pink
}

/* LIGHT */

.light .header {
  background: #ffffff;
  border-bottom: 1px solid #e5e5e5;
}

.light .navbar {
  background: #e91e63;
   filter:
    drop-shadow(0 2px 5px rgba(0,0,0,0.15));
}
/* TEXT */

.light .header-icon,
.light .welcome-user,
.light .navbar a,
.light .navbar span,
.light .lang-select  {
  color: #111;
}

/* SEARCH */

.light .search-box input {
  border: 1px solid #ddd;
}

.light .logo img {
    width: 185px;
}

/* LOGO */

.logo {
  font-size: 40px;
  font-weight: 700;
}
.logo img {
    width: 200px;
}
.logo span {
  color: $primary;
}

/* SEARCH */

.search-box {
  display: flex;
  width: 500px;
}

.search-box input {
  flex: 1;

  padding: 14px;

  border: none;
  outline: none;

  border-radius: 8px 0 0 8px;
}

.search-box button {
  background: $gold;

  border: none;

  padding: 14px 24px;

  cursor: pointer;

  border-radius: 0 8px 8px 0;

  font-weight: 600;
}

/* RIGHT SIDE */

.header-icons {
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
}

/* ICON BOX */

.icon-box {
  position: relative;
  cursor: pointer;
  transition: 0.3s ease;
}

.icon-box:hover {
  transform: scale(1.08);
}

/* ICON */

.header-icon {
  font-size: 28px;
  color: white;
}

/* COUNT */

.count-badge {
  position: absolute;

  top: -8px;
  right: -10px;

  background: $primary;
  color: white;

  width: 20px;
  height: 20px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 11px;
  font-weight: bold;
}

/* LANGUAGE */

.lang-select {
  background: transparent;
  color: white;

  border: 1px solid #444;

  padding: 8px;

  outline: none;
}

/* THEME */

.theme-btn {
  background: $primary;
  color: white;

  border: none;

  width: 42px;
  height: 42px;

  border-radius: 8px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
}

/* USER */

.user-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.welcome-user {
  color: white;
  font-size: 14px;
  font-weight: 500;
}

/* LOGOUT */

.logout-btn {
  background: $gold;

  border: none;

  padding: 10px 14px;

  border-radius: 8px;
  cursor: pointer;

  font-weight: 600;
}

/* LOGIN */

.login-box {
  cursor: pointer;
}

/* NAVBAR */

.navbar {
  background: $primary;

  display: flex;
  justify-content: center;
  gap: 40px;

  padding: 15px;
}

.navbar a,
.navbar span {
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.navbar a:hover,
.navbar span:hover {
  color: $gold;
}

/* MOBILE */

@media (max-width: 768px) {

  .header {
    flex-direction: column;
    gap: 20px;
  }

  .search-box {
    width: 100%;
  }

  .navbar {
    flex-wrap: wrap;
    gap: 20px;
  }
}