@use "../../styles/variables" as *;

.not-found-page {
    min-height: calc(100vh - 300px);

    background-image:
    url("http://localhost:3000/assets/notfound-bg.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    text-align:center;
}

.not-found-overlay {
    width: 100%;
}

.not-found-content span {
    color: $primary;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.not-found-content h1 {
    font-size: 120px;
    line-height: 1;
    margin: 10px 0;
    color: $primary;
    font-weight: 700;
}


.not-found-content h2 {
    font-size: 42px;
    margin-bottom: 20px;
    color: $black;
}


.not-found-content p {
    color: #666;
    line-height: 1.8;
    margin-bottom: 30px;
    font-size: 17px;
}

.not-found-content button {
    background: #D81B72;
    color: white;
    border: none;
    padding: 15px 35px;
    border-radius: 35px;
    cursor: pointer;
    font-size: 16px;
    transition: .3s;
}

.not-found-content button:hover {
transform: translateY(-3px);
}


@media (max-width: 768px) {

    .not-found-page {
        padding: 30px;
        background-position: right;
    }

    .not-found-content {
        max-width: 100%;
        text-align: center;
        background: rgba(
            255,
            255,
            255,
            0.85
        );
        padding: 25px;
        border-radius: 16px;
    }

    .not-found-content h1 {
        font-size: 80px;
    }

    .not-found-content h2 {
        font-size: 28px;
    }
}